extends layout/base

block content
  if errorMessage
    p(class="errorMessage")=errorMessage
  form(action="/join" method="POST")
    input(type="text" name="username" placeholder="Write Username")
    input(type="password" name="password" placeholder="Write Password")
    input(type="password" name="password2" placeholder="Re-write Password")
    button(type="submit") Join
  div
    span Already have an account? 
    a(href="/login") Log In &rarr;